<?xml version="1.0" encoding="UTF-8" ?> 
  <!DOCTYPE plist (View Source for full doctype...)> 
- <plist version="1.0">
- <dict>
  <key>items</key> 
- <array>
- <dict>
  <key>assets</key> 
- <array>
- <dict>
  <key>kind</key> 
  <string>software-package</string> 
  <key>url</key> 
  <string>http://app.huaiyangmeishi.com:8888/hyms/QYHYFood6.ipa</string> 
  </dict>
- <dict>
  <key>kind</key> 
  <string>display-image</string> 
  <key>needs-shine</key> 
  <true /> 
  <key>url</key> 
  <string>http://122.194.14.94:9001/download/info_icon.png</string> 
  </dict>
- <dict>
  <key>kind</key> 
  <string>full-size-image</string> 
  <key>needs-shine</key> 
  <true /> 
  <key>url</key> 
  <string>http://122.194.14.94:9001/download/info_icon22.png</string> 
  </dict>
  </array>
  <key>metadata</key> 
- <dict>
  <key>bundle-identifier</key> 
  <string>com.shundesoft.QYHYFood</string> 
  <key>bundle-version</key> 
  <string>1.0.2</string> 
  <key>kind</key> 
  <string>software</string> 
  <key>subtitle</key> 
  <string>淮扬美食团</string> 
  <key>title</key> 
  <string>淮扬美食团</string> 
  </dict>
  </dict>
  </array>
  </dict>
  </plist>